<h1 align="center" style="font-size: 50px">Student Detail Form</h1>
<hr style="border: 10px solid black" style="border-radius: 10px;">



<table cellspacing="20" cellpadding="20" align="center">
<form id="myForm" method="POST" onsubmit="signupStudent(event)">
<tr>
  <td >First Name:</td>	
  <td><input type="text" name="firstName"></td>
</tr>

<tr>
  <td>Last Name:</td>
  <td><input type="text" name="lastName"></td>
</tr>
<tr>
  <td>Father Name:</td>
  <td><input type="text" name="fatherName"></td>
</tr>

<tr>
  <td>Date of Birth:</td>
  <td><input type="Date" name="dob"></td>
</tr>
<tr>
  <td>Class:

  </td>
  <td><select name="class" style="border: 2px solid black">
          <option value="BSCS-1">BSCS-1</option>
          <option value="BSCS-2">BSCS-2</option>
          <option value="BSIT-1">BSIT-1</option>
          <option value="BSIT-2">BSIT-2</option>
      </select></td>
</tr>
<tr>
  <td>Username:</td>
  <td><input type="text"  name="username"></td>
</tr>
<tr>
  <td>Password:</td>
  <td><input type="Password" name="password"></td>
</tr>
<tr>
<td>Registration:</td>
<td><input type="text" name="registration"></td>
</tr>
<tr>
<td>address:</td>
<td><input type="text" name="address"></td>
</tr>

<tr>
<td>Gender:</td>
<td>Male<input value="male" type="radio" name="gender">
Female<input value="female" type="radio" name="gender">

</td>
</tr>

<tr>
  <td>Phone No:</td>
  <td><input type="No" name="phone"></td>
</tr>

<tr>
  <td>Email:</td>
  <td><input type="Email" name="email"></td>
</tr>
<tr>


<td colspan="2" align="center">
  <button type="submit" name="submit">Submit
  </button>
  
  <button type="reset" name="resetForm">Reset
  </button>

</td>

</tr>

</form>
</table>
<script>

    function signupStudent(event){
       event.preventDefault();
       
       var student = {
         firstName : event.target.firstName.value,
         lastName  : event.target.lastName.value,
         fatherName : event.target.fatherName.value,
         dob : event.target.dob.value,
         class : event.target.class.value,
         username : event.target.username.value,
         password: event.target.password.value,
         gender : event.target.gender.value,
         phone : event.target.phone.value,
         email : event.target.email.value,
         regNumber : event.target.registration.value,
         address : event.target.address.value,


       }
       console.log(student);
       
       

var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function(){
 if(this.readyState == 4 && this.status == 200){
  // document.getElementById("demo").innerHTML = this.responseText;
  //document.getElementById('responseFromServer').innerHTML = this.responseText;

  console.log(this.responseText);
  alert('student created successfully');
  document.getElementById('myForm').reset();
 
  // document.getElementById('student-records').innerHTML=studentsBody.toString()
  
 }
};

xhttp.open("POST", "/signup", true);
  
   xhttp.setRequestHeader("Content-type","application/json");
   xhttp.send(JSON.stringify(student));



     
     }

     
   </script>

