<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container mb-3">
    <h1><%= title %></h1>
    <p class="float-left mr-5">Welcome to <%= title %></p>
    <a href="/signup" class="btn btn-primary" style="margin-left:14.5%;">Add New Student</a>
    </div>
    <div id="responseFromServer"></div>
    <table id="studentTable">
   <thead>
     <th>First Name</th>
     <th>Last Name</th>
     <th>Phone</th>
     <th>Student Registration</th>
     <th>Status</th>
     <th>Actions</th>
     

   </thead>
   <tbody id="student-records">


   </tbody>



    </table>

<script>
  const getUserInfo = sessionStorage.getItem('studentLogin')
      if(!getUserInfo){
        window.location.href= '/login';
      } 

//ajax basics 
var loadajax = function (){

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function(){
    if(this.readyState == 4 && this.status == 200){
     // document.getElementById("demo").innerHTML = this.responseText;
     //document.getElementById('responseFromServer').innerHTML = this.responseText;
     const students = this.responseText;
     const studentsArray = JSON.parse(students)
    console.log(studentsArray)
     console.log(typeof studentsArray)
    const studentsBody =  studentsArray.map(
       (student) =>{
        return `<tr>
                      <td>`+student.firstName+`</td>
                      <td>`+student.lastName+`</td>
                      <td>`+student.phone+`</td>
                      <td>`+student.regNumber+`</td>
                      <td>`+student.approved+`</td>
                     <td><a class="btn btn-primary" href="/edit?id=`+student._id+`">Edit Student</a>
                        <button class="btn btn-danger" onclick="deleteStudent('`+student._id+`')" type="button">Delete</button> </td>
                    </tr>`
       }
      )
      let studentRecords = studentsBody.toString().replace(/,/g, ' ')
      document.getElementById('student-records').innerHTML=studentRecords
     
    }
  };


  xhttp.open("GET","/students",true);
  xhttp.send();
  
}
loadajax()
//edit and delete functions
const editStudent = (id) => {
  alert('edit function called')
}
const deleteStudent = (id) => {
  //ajax call for the delete function ;
  var confrm =confirm("Are you sure you want to delete this record");
  console.log('confirm',confrm)
if(confrm==false){
  return false;
}
 var url = "/delete/"+id
 

var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function(){
  if(this.readyState == 4 && this.status == 200){
   const students = this.responseText;
   const studentsArray = JSON.parse(students)
   alert(studentsArray.message)
   loadajax()
   
  }
  
};
xhttp.open("GET",url,true);
xhttp.send();






  
}
   
  

</script>

  </body>
</html>
