body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table#studentTable{
  border-collapse: collapse;
  width: auto;
}
#studentTable td,#studentTable th{
  border: 1px solid #ddd;
  padding: 5px;
}